wordpress/wp-admin/
wordpress/wp-content/index.php
wordpress/wp-content/db.php
wordpress/wp-content/languages
wordpress/wp-content/plugins/index.php
wordpress/wp-content/themes/index.php
wordpress/wp-includes/
wordpress/index.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-*.php
wordpress/xmlrpc.php
wordpress/wp-config.php
wordpress/wp-content/themes/twenty*/
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/uploads/
wordpress/*.log
wordpress/.htaccess
wordpress/wp-content/plugins
wordpress/wp-content/upgrade

wordpress/wp-content/themes/portfolio/assets/image/b*
wordpress/wp-content/themes/portfolio/assets/image/p*